@page "/"

@using Syncfusion.Blazor.SplitButtons

@implements IDisposable
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager


<div id="@Views[0].ID" style="@(!Views[0].Initialized || CurrentView == 0 ? "" : "display: none;") @(Views[0].Initialized ? "" : "visibility: hidden;")">
    <img id="@(Views[0].ID)-img" style="width: @ImgWidth;" src="@ExteriorImgPaths[0]" usemap="#@Views[0].ImageMapName" @onload="(e => OnLoadIM(e, 0))">
    <map id="@Views[0].ImageMapName" name="@Views[0].ImageMapName">
        <area id="available" status="" href="#" @onmouseover="@(e => ShowTooltip(e, $"Lgh nr.\t7A\nBoarea:\t91m²\nPris:\t4 800 000Kr"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="558,130,558,206,550,212,550,272,576,288,578,315,311,322,307,148,556,130" shape="poly">
        <area id="sold" status="" href="#" @onmouseover="@(e => ShowTooltip(e, $"Såld"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="311,324,576,315,571,373,551,380,553,400,553,438,571,447,576,461,313,463" shape="poly">
        <area id="available" status="" href="#" @onmouseover="@(e => ShowTooltip(e,  $"Lgh nr.\t7A\nBoarea:\t91m²\nPris:\t4 800 000Kr"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="574,463,574,539,553,542,553,602,578,609,313,604,308,461,463,461" shape="poly">
        <area id="booked" status="" href="#" @onmouseover="@(e => ShowTooltip(e,  $"Reserverad"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="313,607,583,611,576,701,551,712,553,766,313,753" shape="poly">
        <area id="sold" status="" href="#" @onmouseover="@(e => ShowTooltip(e, $"Såld"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="580,885,576,773,544,764,313,753,311,870,437,879" shape="poly">
        <area id="available" status="" href="#" @onmouseover="@(e => ShowTooltip(e, $"Lgh nr.\t7A\nBoarea:\t91m²\nPris:\t4 800 000Kr"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="578,90,940,63,942,281,580,290,551,270,551,211,558,128,558,110,574,106" shape="poly">
        <area id="sold" status="" href="#" @onmouseover="@(e => ShowTooltip(e, $"Såld"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="578,292,942,279,942,456,576,461,551,436,551,391,553,378,569,371" shape="poly">
        <area id="available" status="" href="#" @onmouseover="@(e => ShowTooltip(e, $"Lgh nr.\t7A\nBoarea:\t91m²\nPris:\t4 800 000Kr"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="576,463,942,456,942,616,578,611,553,602,553,546,574,537" shape="poly">
        <area id="sold" status="" href="#" @onmouseover="@(e => ShowTooltip(e, $"Såld"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="583,613,947,616,944,784,574,771,551,766,551,710,576,699" shape="poly">
        <area id="sold" status="" href="#" @onmouseover="@(e => ShowTooltip(e, $"Såld"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="940,63,953,97,1387,70,1389,281,953,292,940,274" shape="poly">
        <area id="available" status="" href="#" @onmouseover="@(e => ShowTooltip(e, $"Lgh nr.\t7A\nBoarea:\t91m²\nPris:\t4 800 000Kr"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="940,283,953,290,1387,279,1387,458,956,456,944,456" shape="poly">
        <area id="available" status="" href="#" @onmouseover="@(e => ShowTooltip(e, $"Lgh nr.\t7A\nBoarea:\t91m²\nPris:\t4 800 000Kr"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="942,456,953,458,1389,458,1387,618,956,609,942,607" shape="poly">
        <area id="available" status="" href="#" @onmouseover="@(e => ShowTooltip(e, $"Lgh nr.\t7A\nBoarea:\t91m²\nPris:\t4 800 000Kr"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="944,609,1387,620,1389,796,944,780" shape="poly">
    </map>
</div>
<div id="@Views[1].ID" style="@(!Views[0].Initialized || CurrentView == 1 ? "" : "display: none;") @(Views[1].Initialized ? "" : "visibility: hidden;")">
    <img id="@(Views[1].ID)-img" src="@ExteriorImgPaths[1]" style="width: @ImgWidth;" usemap="#@Views[1].ImageMapName" @onload="(e => OnLoadIM(e, 1))">
    <map id="@Views[1].ImageMapName" name="@Views[1].ImageMapName">
        <area id="available" status="" href="#" @onmouseover="@(e => ShowTooltip(e, $"Lgh nr.\t7A\nBoarea:\t91m²\nPris:\t4 800 000Kr"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="143,259,119,127,513,262,658,107,673,110,753,137,748,147,749,236,756,240,760,296,643,433" shape="poly">
        <area id="sold" status="" href="#" @onmouseover="@(e => ShowTooltip(e, $"Såld"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="144,262,168,402,647,580,760,431,757,394,702,367,640,435" shape="poly">
        <area id="sold" status="" href="#" @onmouseover="@(e => ShowTooltip(e,  $"Såld"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="167,403,191,540,658,713,760,568,760,527,711,503,653,580" shape="poly">
        <area id="booked" status="" href="#" @onmouseover="@(e => ShowTooltip(e,  $"Reserverad"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="195,542,212,649,660,824,762,686,764,643,725,628,658,714" shape="poly">
        <area id="available" status="" href="#" @onmouseover="@(e => ShowTooltip(e,  $"Lgh nr.\t7A\nBoarea:\t91m²\nPris:\t4 800 000Kr"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="213,653,226,750,681,948,851,685,769,647,769,685,665,828" shape="poly">
        <area id="booked" status="" href="#" @onmouseover="@(e => ShowTooltip(e,  $"Reserverad"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="787,1,786,149,971,211,1074,73,1078,1" shape="poly">
        <area id="available" status="" href="#" @onmouseover="@(e => ShowTooltip(e,  $"Lgh nr.\t7A\nBoarea:\t91m²\nPris:\t4 800 000Kr"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="791,150,788,289,961,348,1065,215,1070,173,1016,157,969,211" shape="poly">
        <area id="available" status="" href="#" @onmouseover="@(e => ShowTooltip(e,  $"Lgh nr.\t7A\nBoarea:\t91m²\nPris:\t4 800 000Kr"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="791,292,790,422,957,477,1047,350,1053,310,1015,292,967,351" shape="poly">
        <area id="sold" status="" href="#" @onmouseover="@(e => ShowTooltip(e,  $"Såld"))" @onmouseout="HideTooltip" @onclick="@(() => HousingClicked(""))" coords="791,424,957,479,1005,415,1044,429,1041,468,952,602,790,537" shape="poly">
    </map>
</div>


@*<img src="IMG/Vy till Phille.png" usemap="#image-map"> <map name="image-map">
    <area target="" alt="1" title="1" href="" coords="558,130,558,206,550,212,550,272,576,288,578,315,311,322,307,148,556,130" shape="poly">
    <area target="" alt="2" title="2" href="" coords="311,324,576,315,571,373,551,380,553,400,553,438,571,447,576,461,313,463" shape="poly">
    <area target="" alt="3" title="3" href="" coords="574,463,574,539,553,542,553,602,578,609,313,604,308,461,463,461" shape="poly">
    <area target="" alt="4" title="4" href="" coords="313,607,583,611,576,701,551,712,553,766,313,753" shape="poly">
    <area target="" alt="5" title="5" href="" coords="580,885,576,773,544,764,313,753,311,870,437,879" shape="poly">
    <area target="" alt="6" title="6" href="" coords="578,90,940,63,942,281,580,290,551,270,551,211,558,128,558,110,574,106" shape="poly">
    <area target="" alt="7" title="7" href="" coords="578,292,942,279,942,456,576,461,551,436,551,391,553,378,569,371" shape="poly">
    <area target="" alt="8" title="8" href="" coords="576,463,942,456,942,616,578,611,553,602,553,546,574,537" shape="poly">
    <area target="" alt="9" title="9" href="" coords="583,613,947,616,944,784,574,771,551,766,551,710,576,699" shape="poly">
    <area target="" alt="10" title="10" href="" coords="940,63,953,97,1387,70,1389,281,953,292,940,274" shape="poly">
    <area target="" alt="11" title="11" href="" coords="940,283,953,290,1387,279,1387,458,956,456,944,456" shape="poly">
    <area target="" alt="12" title="12" href="" coords="942,456,953,458,1389,458,1387,618,956,609,942,607" shape="poly">
    <area target="" alt="13" title="13" href="" coords="944,609,1387,620,1389,796,944,780" shape="poly">
</map>*@
@*<map name="image-map">
    <area target="" alt="1" title="1" href="#" coords="143,259,119,127,513,262,658,107,673,110,753,137,748,147,749,236,756,240,760,296,643,433" shape="poly">
    <area target="" alt="2" title="2" href="#" coords="144,262,168,402,647,580,760,431,757,394,702,367,640,435" shape="poly">
    <area target="" alt="3" title="3" href="#" coords="167,403,191,540,658,713,760,568,760,527,711,503,653,580" shape="poly">
    <area target="" alt="4" title="4" href="#" coords="195,542,212,649,660,824,762,686,764,643,725,628,658,714" shape="poly">
    <area target="" alt="5" title="5" href="#" coords="213,653,226,750,681,948,851,685,769,647,769,685,665,828" shape="poly">
    <area target="" alt="5" title="6" href="#" coords="787,1,786,149,971,211,1074,73,1078,1" shape="poly">
    <area target="" alt="6" title="7" href="#" coords="791,150,788,289,961,348,1065,215,1070,173,1016,157,969,211" shape="poly">
    <area target="" alt="7" title="8" href="#" coords="791,292,790,422,957,477,1047,350,1053,310,1015,292,967,351" shape="poly">
    <area target="" alt="8" title="9" href="#" coords="791,424,957,479,1005,415,1044,429,1041,468,952,602,790,537" shape="poly">
</map>*@

<div id="view_menu">
    <SfDropDownButton IconCss="e-icons e-view" CssClass="e-caret-hide e-background">
        <DropDownButtonEvents OnOpen="@(e => OpenTop(e, Views.Count))" OnItemRender="RenderMenuItem" ItemSelected="ChangeView" />
        <DropDownButtonItems>
            @for (int i=0; i < Views.Count; i++) {
                <DropDownButtonItem Id="@i.ToString()" Text="@Views[i].Name"></DropDownButtonItem>
            }
        </DropDownButtonItems>
    </SfDropDownButton>
</div>

<div id="sun_study_menu">
    <SfDropDownButton IconCss="e-icons e-sun-study" CssClass="e-caret-hide e-background">
        <DropDownButtonEvents OnOpen="@(e => OpenTop(e, 3))" OnItemRender="RenderMenuItem" ItemSelected="ChangeSunStudy" />
        <DropDownButtonItems>
            <DropDownButtonItem Id="morning" Text="Morgon"></DropDownButtonItem>
            <DropDownButtonItem Id="midday" Text="Mitt på dagen"></DropDownButtonItem>
            <DropDownButtonItem Id="evening" Text="Kväll"></DropDownButtonItem>
        </DropDownButtonItems>
    </SfDropDownButton>
</div>


@code {
    public class ViewData
    {
        public string ID { get; set; }
        public string Name { get; set; }
        public string ImageMapName { get; set; }
        public Dictionary<string, string> SunStudies { get; set; }
        public bool Initialized { get; set; } = false;
    }

    List<ViewData> Views = new List<ViewData> {
        new ViewData() {
            ID = "view-1",
            Name = "Vy 1",
            ImageMapName = "imagemap-1",
            SunStudies = new Dictionary<string, string>() {
                { "morning", "IMG/Dag.jpg" },
                { "midday", "IMG/Imagemap.jpg" },
                { "evening", "IMG/Natt.jpg" },
            },
        },
        new ViewData() {
            ID = "view-2",
            Name = "Vy 2",
            ImageMapName = "imagemap-2",
            SunStudies = new Dictionary<string, string>() {
                { "morning", "IMG/ext. 2.jpg" },
                { "midday", "IMG/ext. 2.jpg" },
                { "evening", "IMG/ext. 2.jpg" },
            },
        },
    };

    private int CurrentView { get; set; } = 0;
    private string[] ExteriorImgPaths { get; set; }
    private string ImgWidth { get; set; } = "60%";
    public List<Houses> DataSource { get; set; }

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        this.DataSource = Houses.GetHouseData();
        this.ExteriorImgPaths = new string[this.Views.Count];
        for (int i=0; i < this.Views.Count; i++) {
            this.ExteriorImgPaths[i] = this.Views[i].SunStudies["midday"];
        }
        base.StateHasChanged();

        await JSRuntime.InvokeVoidAsync("exterior.initilalize");
    }

    public async void OnLoadIM(Microsoft.AspNetCore.Components.Web.ProgressEventArgs args, int view)
    {
        if (!Views[view].Initialized) {
            await JSRuntime.InvokeVoidAsync(
                "mapster.addMapHighlights", Views[view].ID, Views[view].ID +"-img", Views[view].ImageMapName, "mapster_el center"
            );
            await JSRuntime.InvokeVoidAsync(
                "exterior.setValues", view, Views[view].ID, ImgWidth
            );
        }

        Views[view].Initialized = true;
        base.StateHasChanged();
    }

    public void OpenTop(Syncfusion.Blazor.SplitButtons.BeforeOpenCloseMenuEventArgs args, int itemNr)
    {
        int marginY = 64 + itemNr*35; //itemNr=3 => 169
        args.Element.SetAttribute("style", "margin:-"+ marginY +"px -115px");
    }

    private void RenderMenuItem(Syncfusion.Blazor.SplitButtons.MenuEventArgs args)
    {
        args.Element.AddClass(new string[] { "item-background" });
    }

    public async void ChangeView(Syncfusion.Blazor.SplitButtons.MenuEventArgs args)
    {
        this.CurrentView = int.Parse(args.Element.ID);
        await JSRuntime.InvokeVoidAsync("exterior.changeView", this.CurrentView);

        base.StateHasChanged();
    }

    public async void ChangeSunStudy(Syncfusion.Blazor.SplitButtons.MenuEventArgs args)
    {
        for (int i=0; i < this.Views.Count; i++) {
            this.ExteriorImgPaths[i] = this.Views[i].SunStudies[args.Element.ID];
        }
        await JSRuntime.InvokeVoidAsync(
            "mapster.changeImage", this.Views[this.CurrentView].ID, this.ExteriorImgPaths[CurrentView]
        );
    }

    public async void ShowTooltip(MouseEventArgs e, string msg)
    {
        await JSRuntime.InvokeVoidAsync(
            "util.showTooltip", e.ClientX, e.ClientY, msg
        );
    }

    public async void HideTooltip(MouseEventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("util.hideTooltip");
    }

    private async void HousingClicked(string housing)
    {
        await JSRuntime.InvokeVoidAsync("util.hideTooltip");
        if (housing != "")
            navManager.NavigateTo("/interior/" + housing);
        else
            navManager.NavigateTo("/interior");
    }

    public async void Dispose()
    {
        // Need to make sure that it's not trying to invoke JavaScript interop before initialization
        if (this.Views[0].Initialized)
            await JSRuntime.InvokeVoidAsync("exterior.dispose");
    }

    public class Houses
    {
        public double Sqm { get; set; }
        public string Price { get; set; }
        public double LandArea { get; set; }
        public string HouseNumber { get; set; }
        public string Status { get; set; }

        public static List<Houses> GetHouseData()
        {
            List<Houses> HouseData = new List<Houses>();
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7a", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7b", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8a", Status = "Reserverad" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8b", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 160, Price = "5 500 000", LandArea = 490, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 170, Price = "5 600 000", LandArea = 440, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7a", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7b", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8a", Status = "Reserverad" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8b", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 160, Price = "5 500 000", LandArea = 490, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 170, Price = "5 600 000", LandArea = 440, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7a", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7b", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8a", Status = "Reserverad" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8b", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 160, Price = "5 500 000", LandArea = 490, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 170, Price = "5 600 000", LandArea = 440, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7a", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7b", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8a", Status = "Reserverad" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8b", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 160, Price = "5 500 000", LandArea = 490, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 170, Price = "5 600 000", LandArea = 440, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7a", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7b", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8a", Status = "Reserverad" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8b", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 160, Price = "5 500 000", LandArea = 490, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 170, Price = "5 600 000", LandArea = 440, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7a", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7b", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8a", Status = "Reserverad" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8b", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 160, Price = "5 500 000", LandArea = 490, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 170, Price = "5 600 000", LandArea = 440, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7a", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7b", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8a", Status = "Reserverad" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8b", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 160, Price = "5 500 000", LandArea = 490, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 170, Price = "5 600 000", LandArea = 440, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7a", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7b", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8a", Status = "Reserverad" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8b", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 160, Price = "5 500 000", LandArea = 490, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 170, Price = "5 600 000", LandArea = 440, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7a", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7b", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8a", Status = "Reserverad" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8b", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 160, Price = "5 500 000", LandArea = 490, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 170, Price = "5 600 000", LandArea = 440, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7a", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "7b", Status = "Ledig" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8a", Status = "Reserverad" });
            HouseData.Add(new Houses { Sqm = 152, Price = "5 000 000", LandArea = 380, HouseNumber = "8b", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 160, Price = "5 500 000", LandArea = 490, HouseNumber = "9a", Status = "Sålt" });
            HouseData.Add(new Houses { Sqm = 170, Price = "5 600 000", LandArea = 440, HouseNumber = "9a", Status = "Sålt" });

            return HouseData;
        }
    }
}


<style>
    #view_menu {
        position: fixed;
        bottom: 0px;
        right: 50px;
    }

    #sun_study_menu {
        position: fixed;
        bottom: 0px;
        right: 0px;
    }

    .item-background {
        background: white;
    }

    .e-background {
        width: 50px;
        height: 45px;
        background: white;
    }

    .e-view::before {
        font-size: 32px;
        content: '\e345';
    }

    .e-sun-study::before {
        content: url(IMG/icons/sundial_tiny.png);
    }
</style>
