@page "/interior"
@*@page "/interior/{Housing}"*@

@inject IJSRuntime JSRuntime

@using BlazorStrap
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons


<div id="slideshow" class="@(ShowInfo ? "" : "full")">
    <BSCarousel NumberOfItems="@items.Count">
        <div class="carousel-inner">
            @for (int i = 0; i < items.Count; i++)
            {
                <BSCarouselItem src="@items[i].Source" alt="@items[i].Alt" />
            }
        </div>
        <BSCarouselIndicators NumberOfItems="@items.Count"></BSCarouselIndicators>
        <BSCarouselControl CarouselDirection="CarouselDirection.Previous" NumberOfItems="@items.Count"></BSCarouselControl>
        <BSCarouselControl CarouselDirection="CarouselDirection.Next" NumberOfItems="@items.Count"></BSCarouselControl>
    </BSCarousel>
</div>


<div id="housing_info" class="@(ShowInfo ? "" : "hidden")">
    @*TODO: have an own block that contains relevant info regarding the selected housing*@

    <BSImage src="IMG/Imagemapbild.jpg" alt="Housing image" Class="planritning" />

    <div id="gallery">
        @*TODO: ensure the images below reflect to what is shown in the slideshow*@
        @*TODO: enable scrolling if too many images are present to fit the window*@
        <BSImage src="IMG/Imagemapbild.jpg" Class="gallery-img"></BSImage>
        <BSImage src="IMG/PhysCam006.jpg" Class="gallery-img"></BSImage>
        <BSImage src="IMG/Imagemapbild.jpg" Class="gallery-img"></BSImage>
        <BSImage src="IMG/PhysCam006.jpg" Class="gallery-img" style="margin-right: initial;"></BSImage>
    </div>

    @*<div>
        <hr />
        <header class="card-info-header">Lägenhet nr. </header>
        <header class="card-info-header-right">@house1.HouseNumber</header>
    </div>*@

    <div style="float:left ; width:45%; ">

        <header class="card-info-header" style="margin-bottom:5%;">3 RoK</header>
        <div>

            <header class="card-info-header">Pris </header>
            <header class="card-info-header-right">@house1.Price</header>
            <hr />
        </div>

        <div style="display: inline;">

            <header class="card-info-header">Boarea</header>
            <header class="card-info-header-right">@house1.Sqm</header>
            <hr />
        </div>


        <div style="display: inline;">

            <header class="card-info-header">Lgh nr.</header>
            <header class="card-info-header-right">@house1.HouseNumber</header>
        </div>
    </div>

    <div style="float:right; width:45%">

        <header class="card-info-header" style="margin-bottom:5%;">Arkitekten har ordet</header>

        <header class="card-info-text" style="font-style:italic;"> "@house1.Comments"</header>

    </div>

    <div style="width:100%; margin-top:13%; clear:both;">
        <div style=" margin-top:5%; float:left; padding-left:12%;"> <SfButton> Bofaktablad </SfButton> </div>
        <div style=" margin-top:5%; float:right; padding-right:12%"> <SfButton IsPrimary="true"> Anmäl intresse </SfButton> </div>
    </div>
</div>

<BSImage id="hide_info" src="IMG/icons/info.png" Class="icon" @onclick="ToggleInfo" />
@*<SfButton id="hide_info" CssClass="e-round" IconCss="icon e-icons e-info-icon" />*@

@*<SfGrid DataSource="@Orders" AllowFiltering="true" AllowPaging="true">
    <GridColumns>
        <GridColumn Field=@nameof(Order.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right" Width="120"></GridColumn>
        <GridColumn Field=@nameof(Order.CustomerID) HeaderText="Customer Name" Width="150"></GridColumn>
        <GridColumn Field=@nameof(Order.OrderDate) HeaderText=" Order Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>
        <GridColumn Field=@nameof(Order.Freight) HeaderText="Freight" Format="C2" TextAlign="TextAlign.Right" Width="120"></GridColumn>
    </GridColumns>
</SfGrid>*@


@code {
    public class Houses
    {
        public string Sqm { get; set; }
        public string Price { get; set; }
        public string LandArea { get; set; }
        public string HouseNumber { get; set; }
        public string Status { get; set; }
        public string Comments { get; set; }
    }

    public class Item
    {
        public string Source { get; set; }
        public string Alt { get; set; }
        public string Caption { get; set; }
        public string Header { get; set; }
        public string ActionLink { get; set; }
        public string ActionLinkTarget { get; set; }
    }

    public class Order
    {
        public int? OrderID { get; set; }
        public string CustomerID { get; set; }
        public DateTime? OrderDate { get; set; }
        public double? Freight { get; set; }
    }


    private Houses house1 = new Houses
    {
        Sqm = "152m²",
        Price = "5 000 000",

        HouseNumber = "7a",
        Status = "Ledig",
        Comments = "Med sin kubistiska utformning och minimalistiska formspråk sticker lägenheten ut från mängden. Här är det de anspråkslösa detaljerna som väcker intresset. Det stilrent takade entrépartiet följs upp invändigt av ett effektfullt ljusschakt med full takhöjd genom båda våningsplanen och ett högt glasparti."

    };

    private IList<Item> items = new List<Item> {
        new Item {
            Source = "IMG/imagemapbild.jpg",
            Alt ="First Slide",
            Caption = "Slide 1",
            Header = "Slide 1 Header",
            ActionLink = "https://visivo.se",
            ActionLinkTarget = "_blank"
        },
        new Item {
            Source = "IMG/PhysCam006.jpg",
            Alt ="Second Slide",
            Caption = "Slide 2",
            Header = "Slide 2 Header",
            ActionLink = "https://visivo.se",
            ActionLinkTarget = "_blank"
        },
        new Item {
            Source = "IMG/20200128_PhysCamera001.jpg",
            Alt ="Third Slide",
            Caption = "Slide 3",
            Header = "Slide 3 Header",
            ActionLink = "https://visivo.se",
            ActionLinkTarget = "_blank"
        }
    };

    public List<Order> Orders { get; set; }
    private bool ShowInfo { get; set; }

    private void ToggleInfo()
    {
        ShowInfo = !ShowInfo;
    }

    protected override void OnInitialized()
    {
        Orders = Enumerable.Range(1, 75).Select(x => new Order()
        {
            OrderID = 1000 + x,
            CustomerID = (new string[] { "ALFKI", "ANANTR", "ANTON", "BLONP", "BOLID" })[new Random().Next(5)],
            Freight = 2.1 * x,
            OrderDate = (new DateTime[] { new DateTime(2010, 5, 1), new DateTime(2010, 5, 2), new DateTime(2010, 5, 3), })[new Random().Next(3)],
        }).ToList();
        ShowInfo = true;
    }
}

<style>
    #slideshow {
        float: left;
        width: 64%;
        margin-bottom: 10px;
        margin-right: 5px;
        transition-duration: 0.15s;
    }

    #slideshow.full {
        width: 100%;
        transition-duration: 0.45s;
    }

    #housing_info {
        float: right;
        width: 33%;
        margin-bottom: 5px;
        font-family: 'Segoe UI';
        transition: width 0.1s 0.5s, opacity 0.4s 0.5s, display 0.5s 0.5s;
        @*transition-duration: 0.35s;*@
        @*transition-delay: 0.25s;*@
    }

    #housing_info.hidden {
        display: none;
        width: 25%;
        opacity: 0;
        @*transition-duration: 0.05s;
        transition-delay: 0s;*@
    }

    #gallery {
        clear: both;
        display: inline-block;
    }

    #hide_info {
        position: fixed;
        bottom: 0px;
        right: 0px;
        transition-duration: 0.4s;
    }

    #hide_info:hover {
        width: 50px;
    }

    .gallery-img {
        width: 23%;
        margin-right: 1.8%;
        margin-bottom: 1.8%
    }

    .gallery-img:hover {
        filter: brightness(110%);
    }

    .card-info-header {
        font-family: 'Segoe UI';
        font-size: 25px;
        display: inline-block;
    }

    .card-info-text {
        font-family: 'Segoe UI';
        font-size: 16px;
    }

    .card-info-header-right {
        font-family: 'Segoe UI';
        font-size: 25px;
        display: inline-block;
        float: right
    }

    .list1 {
        list-style-type: none;
    }

    e-info-icon::before {
        content: url(IMG/icons/info_tiny.png);
    }

    .icon {
        width: 32px;
    }

    .planritning {
        width: 100%;
        margin-bottom: 2%;
    }
</style>
