@page "/lgh_lista"

@using BlazorStrap
@using Syncfusion.Blazor.Grids
@using BlazorPro.Spinkit

@implements IDisposable
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager


<SpinLoader IsLoading="@(MapData  == null || HouseData == null)">
    <LoadingTemplate>
        <div style="text-align:center; padding-top:18%;">
            <span class="loader"><span class="loader-inner"></span></span> <text style="color:#415965; font-weight:bold; font-family:acumin-pro,sans-serif;"> Loading.. </text>
            <Plane Center="true" />
        </div>
    </LoadingTemplate>
    <ContentTemplate>

        <div class="line-5">
            @for (int i = 0; i < Views.Count; i++)
            {
                var _i = i;
                <div id="@Views[i].ID" style="@(!Views[_i].Initialized || CurrentView == _i ? "" : "display: none;") @(Views[_i].Initialized ? "" : "visibility: hidden;")">
                    <img id="@(Views[i].ID +"-img")" src="@Views[i].ImgSource" style="width: @ImgSize;" usemap="@("#"+ Views[i].ImageMapName)" @onload="e => OnLoadImage(e, _i)">
                    <map id="@Views[i].ImageMapName" name="@Views[i].ImageMapName">
                        @foreach (KeyValuePair<string, List<Data.HouseMap>> view in MapData)
                        {
                            if (view.Key == Data.HouseMap.ImageNameToView(Views[i].ImgSource))
                            {
                                @foreach (Data.HouseMap map in view.Value)
                                {
                                    <area id="@Data.House.GetHouseStatus(map.HouseNumber)" status="" href="#"
                                          @onmouseover="e => OnMouseOverIM(e, map.HouseNumber)" @onmouseout="OnMouseOutIM" @onclick="() => HousingClickedIM(map.ID)"
                                          coords="@map.IMCoords" shape="poly">
                                }
                            }
                        }
                    </map>
                </div>
            }

            <div id="gallery">
                @for (int i = 0; i < Views.Count; i++)
                {
                    <span class="line-3">
                        <BSImage index="@i" src="@Views[i].ImgSource" Class="gallery-img" @onclick="OnClickGalleryImg"></BSImage>
                    </span>
                }
            </div>
        </div>

        <div class="line-6">
            <SfGrid ID="GridResize" @ref="HouseList" DataSource="HouseData" AllowSorting="true" AllowFiltering="true" AllowPaging="true" EnableHover="true" @onmouseover="OnMouseOverGrid" @onmouseout="OnMouseOutGrid">
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar" Mode="FilterBarMode.Immediate"></GridFilterSettings>
                <GridEvents Created="Created" DataBound="DataBound" RowSelected="HousingClickedGrid" RowDeselected="HousingClickedTwiceGrid" TValue="Data.House"></GridEvents>
                <GridColumns>
                    <GridColumn Field="@nameof(Data.House.HouseNumber)" HeaderText="Lgh nr."></GridColumn>
                    <GridColumn Field="@nameof(Data.House.Sqm)" HeaderText="Boarea"></GridColumn>
                    <GridColumn Field="@nameof(Data.House.Price)" Format="C2" HeaderText="Pris"></GridColumn>
                    <GridColumn Field="@nameof(Data.House.Rent)" Format="C2" HeaderText="Mån. avgift"></GridColumn>
                    <GridColumn Field="@nameof(Data.House.Status)" HeaderText="Status" customAttributes=@(new { @class = "e-attr" })>
                        <Template>
                            @{
                                Data.House house = (context as Data.House);
                                <div>
                                    @if (house.Status == "sold")
                                    {
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/archive/c/c3/20090215162203%21Location_dot_dark_red.svg"
                                             height="25"
                                             width="25" />
                                        <span>Såld</span>
                                    }
                                    @if (house.Status == "booked")
                                    {
                                        <img src=" https://upload.wikimedia.org/wikipedia/commons/9/91/Location_dot_orange.svg"
                                             height="25"
                                             width="25" />
                                        <span>Reserverad</span>
                                    }
                                    @if (house.Status == "available")
                                    {
                                        <img src=" https://upload.wikimedia.org/wikipedia/commons/0/0e/Ski_trail_rating_symbol-green_circle.svg"
                                             height="25"
                                             width="25" />
                                        <span>Ledig</span>
                                    }
                                </div>
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>

    </ContentTemplate>
</SpinLoader>


@code{
    public class ViewData
    {
        public string ID { get; set; }
        public string ImgSource { get; set; }
        public string ImageMapName { get; set; }
        public bool Initialized { get; set; } = false;
    }

    private SfGrid<Data.House> HouseList;
    private Dictionary<string, string> HouseToStatus;
    private bool IsHighlighting { get; set; }
    private int HighlightedRow { get; set; }
    private int MobileSelection { get; set; } = -1;
    private int CurrentView { get; set; } = 0;
    private string ImgSize { get; set; } = "100%";

    public List<Data.House> HouseData { get; set; }
    public Dictionary<string, List<Data.HouseMap>> MapData { get; set; }

    private bool InitialRender = false;
    private bool firstRenderDone = false;

    List<ViewData> Views = new List<ViewData> {
        new ViewData {
            ID = "house-main-1",
            ImgSource = "IMG/Dag.jpg",
            ImageMapName = "house-map-1",
        },
        new ViewData {
            ID = "house-main-2",
            ImgSource = "IMG/ext. 2.jpg",
            ImageMapName = "house-map-2",
        },
        new ViewData {
            ID = "house-main-3",
            ImgSource = "IMG/Natt.jpg",
            ImageMapName = "house-map-3",
        },
        new ViewData {
            ID = "house-main-4",
            ImgSource = "IMG/Morgon.jpg",
            ImageMapName = "house-map-4",
        },
    };

    public async void Created()
    {
        InitialRender = true;
        await JSRuntime.InvokeVoidAsync("grid_responsive.init");
    }

    public async void DataBound()
    {
        if (InitialRender)
        {     //check for initial render and call the JS method
            InitialRender = false;
            await JSRuntime.InvokeVoidAsync("grid_responsive.resizeComplete");
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.HouseData = Data.House.GetHouseData();
        this.MapData = Data.HouseMap.GetHouseMapData();
        this.HouseToStatus = new Dictionary<string, string>();
        this.IsHighlighting = false;
        this.HighlightedRow = -1;

        Dictionary<string, int> statuses = new Dictionary<string, int> {
            { "available", 0 },
            { "booked", 0 },
            { "sold", 0 },
        };
        foreach (KeyValuePair<string, List<Data.HouseMap>> view in MapData)
        {
            foreach (Data.HouseMap map in view.Value)
            {
                string status = HouseData.Find(x => x.HouseNumber == map.HouseNumber).Status;
                HouseToStatus.Add(view.Key +"_"+ map.HouseNumber,
                                  status + statuses[status]++);
            }
        }

        base.StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("mapster_responsive.initialize");
            firstRenderDone = true;
        }
    }

    private async void OnLoadImage(ProgressEventArgs e, int ind)
    {
        while (!firstRenderDone)
            await Task.Delay(10);

        if (!this.Views[ind].Initialized) {
            await JSRuntime.InvokeVoidAsync(
                "mapster_responsive.setValues", ind, this.Views[ind].ID, this.ImgSize
            );
            await JSRuntime.InvokeVoidAsync(
                "mapster.addMapHighlights", this.Views[ind].ID, this.Views[ind].ID +"-img", this.Views[ind].ImageMapName
            );

            this.Views[ind].Initialized = true;
            base.StateHasChanged();
        }
    }

    private void OnMouseOverIM(MouseEventArgs e, string houseNumber)
    {
        ShowTooltip(e.ClientX, e.ClientY, houseNumber);
        HighlightInList(houseNumber);
    }

    private void OnMouseOutIM(MouseEventArgs e)
    {
        if (IsHighlighting)
        {
            HideTooltip();
            RemoveListHighlight();
            IsHighlighting = false;
        }
    }

    private async void OnMouseOverGrid(MouseEventArgs e)
    {
        if (IsHighlighting)
        {
            HideTooltip();
            RemoveListHighlight();
            IsHighlighting = false;
        }
        int rowInd = await JSRuntime.InvokeAsync<int>("util.getSFGridRowIndex");
        if (rowInd >= 0 && this.HighlightedRow != rowInd)
        {
            HighlightInImageMap((await this.HouseList.GetCurrentViewRecords())[rowInd].HouseNumber);
            this.HighlightedRow = rowInd;
        }
    }

    private async void OnMouseOutGrid(MouseEventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("mapster.deselect");
    }

    private async void HighlightInList(string houseNumber)
    {
        if (await this.HouseList.GetCurrentViewRecords() == null)
            return;

        await this.HouseList.GoToPage(1);
        bool continuePaging = true;

        for (int i = 1; i <= this.HouseList.PageSettings.PageCount; i += 1)
        {
            List<Data.House> page = await this.HouseList.GetCurrentViewRecords();
            for (int j = 0; j < page.Count; j += 1)
            {
                if (page[j].HouseNumber == houseNumber)
                {
                    await this.HouseList.SelectRow(j);
                    continuePaging = false;
                    IsHighlighting = true;
                    break;
                }
            }
            if (continuePaging)
                await this.HouseList.GoToPage(i + 1);
            else
                break;
        }
    }

    private async void RemoveListHighlight()
    {
        await this.HouseList.ClearRowSelection();
    }

    private async void HighlightInImageMap(string houseNumber)
    {
        await JSRuntime.InvokeVoidAsync("mapster.deselect");

        string viewName = Data.HouseMap.ImageNameToView(this.Views[this.CurrentView].ImgSource);
        string key = viewName +"_"+ houseNumber;
        if (HouseToStatus.ContainsKey(key))
        {
            string statusKey = HouseToStatus[key];
            await JSRuntime.InvokeVoidAsync("mapster.select", this.Views[this.CurrentView].ID, this.Views[this.CurrentView].ID +"-img", statusKey);
        }
    }

    private async void ShowTooltip(double x, double y, string houseNumber)
    {
        string msg;
        Data.House house = null;
        foreach (Data.House h in HouseData)
        {
            if (h.HouseNumber == houseNumber)
            {
                house = h;
                break;
            }
        }

        switch (house.Status)
        {
            case "sold":
                msg = "Såld";
                break;
            case "booked":
                msg = "Reserverad";
                break;
            default:
                msg = "Lgh nr.\t" + houseNumber +
                    "\nBoarea:\t" + house.Sqm + "m²" +
                    "\nPris:\t\t" + house.Price;
                break;
        }

        await JSRuntime.InvokeVoidAsync(
            "util.showTooltip", x, y, msg
        );
    }

    private async void HideTooltip()
    {
        await JSRuntime.InvokeVoidAsync("util.hideTooltip");
    }

    private async void OnClickGalleryImg(MouseEventArgs ev)
    {
        this.CurrentView = await JSRuntime.InvokeAsync<int>("util.getGalleryIndex");
        await JSRuntime.InvokeVoidAsync(
            "mapster.changeImage", this.Views[this.CurrentView].ID, this.Views[this.CurrentView].ImgSource
        );
        await JSRuntime.InvokeVoidAsync("mapster_responsive.changeImage", this.CurrentView);
        this.MobileSelection = -1;

        base.StateHasChanged();
    }

    private async void HousingClickedIM(int houseID)
    {
        var mobile = await JSRuntime.InvokeAsync<bool>("util.isDevice");
        if (mobile && MobileSelection != houseID)
        {
            MobileSelection = houseID;
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("util.hideTooltip");
            navManager.NavigateTo("/interior/" + houseID);
        }
    }

    public async void HousingClickedGrid(RowSelectEventArgs<Data.House> args)
    {
        if (args.IsInteracted)
        {
            var mobile = await JSRuntime.InvokeAsync<bool>("util.isDevice");
            if (mobile && MobileSelection != args.Data.ID)
                MobileSelection = args.Data.ID;
            else
                navManager.NavigateTo("/interior/" + args.Data.ID);
        }
    }

    public async void HousingClickedTwiceGrid(RowDeselectEventArgs<Data.House> args)
    {
        if (args.IsInteracted)
        {
            await Task.Delay(50);
            var mobile = await JSRuntime.InvokeAsync<bool>("util.isDevice");
            if (mobile && MobileSelection == args.Data.ID)
                navManager.NavigateTo("/interior/" + args.Data.ID);
        }
    }

    public async void Dispose()
    {
        if (!firstRenderDone)
            return;

        await JSRuntime.InvokeVoidAsync("mapster_responsive.dispose");
        await JSRuntime.InvokeVoidAsync("grid_responsive.dispose");
    }
}


<style>
    #gallery {
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
    }

    #gallery span {
        display: contents;
    }

    .gallery-img {
        width: 25%;
        padding: 7px;
        filter: brightness(120%);
        transition-property: filter;
        transition-duration: 0.25s;
    }

    .gallery-img:hover {
        filter: brightness(100%);
        cursor: pointer;
    }

    .e-gridcontent:hover {
        cursor: pointer;
    }

    .e-grid * {
        font-size: 12px !important;
    }

    .e-grid .e-headercell, .e-grid .e-detailheadercell {
        background-color: #415965;
        color: white;
    }

    .e-grid .e-icon-ascending::before, .e-grid-menu .e-icon-ascending::after {
        color: white;
    }

    .e-grid .e-icon-descending::before, .e-grid-menu .e-icon-descending::before {
        color: white;
    }

    .line-1 {
        width: 8.33%;
    }

    .line-2 {
        width: 16.66%;
    }

    .line-3 {
        width: 25%;
    }

    .line-4 {
        width: 33.33%;
    }

    .line-5 {
        width: 41.66%;
    }

    .line-6 {
        width: 50%;
    }

    .line-7 {
        width: 58.33%;
    }

    .line-8 {
        width: 66.66%;
    }

    .line-9 {
        width: 75%;
    }

    .line-10 {
        width: 83.33%;
    }

    .line-11 {
        width: 91.66%;
    }

    .line-12 {
        width: 100%;
    }

    [class*="line-"] {
        float: left;
        padding: 7px;
    }

    @@media (max-width: 1467px) {
    }

    @@media (max-width: 927px) {

        .line-1 {
            width: 25%;
        }

        .line-2 {
            width: 100%;
        }

        .line-3 {
            width: 25%;
        }

        .line-4 {
            width: 100%;
        }

        .line-5 {
            width: 100%;
        }

        .line-6 {
            width: 100%;
        }

        .line-7 {
            width: 100%;
        }

        .line-8 {
            width: 100%;
        }

        .line-9 {
            width: 100%;
        }

        .line-10 {
            width: 100%;
        }

        .line-11 {
            width: 100%;
        }

        .line-12 {
            width: 100%;
        }

        [class*="line-"] {
            float: left;
            padding: 3px;
        }

        .e-grid * {
            font-size: 10px !important;
        }

        .e-attr {
            letter-spacing: 1px;
        }

        .gridwidth {
            width: 100%;
        }
    }

    @@media (max-width: 600px) {

        .line-1 {
            width: 25%;
        }

        .line-2 {
            width: 100%;
        }

        .line-3 {
            width: 25%;
        }

        .line-4 {
            width: 100%;
        }

        .line-5 {
            width: 100%;
        }

        .line-6 {
            width: 100%;
        }

        .line-7 {
            width: 100%;
        }

        .line-8 {
            width: 100%;
        }

        .line-9 {
            width: 100%;
        }

        .line-10 {
            width: 100%;
        }

        .line-11 {
            width: 100%;
        }

        .line-12 {
            width: 100%;
        }

        [class*="line-"] {
            float: left;
            padding: 3px;
        }

        .e-grid * {
            font-size: 10px !important;
        }

        .e-headercelldiv {
            padding: 0px !important;
        }

        .e-rowcell {
            padding-left: 10px !important;
            margin: auto !important;
        }
    }
</style>
